@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 10px 5px 10px;
    height: 50px;
    background: #fff;

}
.navbar-left{
    display: flex;
    
}


#logo img{
    height: 45px;
    width: 180px;
}
#search{
    display: flex;
    flex-direction: row;
    margin-left: 39px;
}
#search input{
    height: 45px;
    width: 350px;
    background: rgb(241, 237, 234);
    padding: 5px;
    border: none;
}
#search div{
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(103, 103, 243) ;
    color: white;
    height: 45px;
    width: 35px;
    border: 1px solid rgb(103, 103, 243);
    
}

.navbar-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

.navbar-right .nav-icons{
    color:rgb(128, 128, 128) ;
    height: 45px;
}

/* .alert:hover,.envelop:hover{
    /* margin-right: 20px; */
    /* display: block;
    width: 10px;*/
    /* color: rgb(219, 216, 216);
}  */ 
.badge{
    position: relative;
    top: -10px;
    right: 10px;
    padding: 1px 2px;
    border-radius: 53%;
    background: red;
    color: white;
}
.envelop{
    margin-left: 20px;
}

.icon:hover{
    cursor: pointer;
    color: rgb(219, 216, 216) ;
}
.profile-img{
    height: 40px;
}
.main{
    background: rgb(241, 237, 234) ;
    height: auto;
    width: 100%
    
}
.sidebar{
    height: 100%;
    background-color: blue;
    width: 20%;
    float: left;
    /* position: fixed; */
    overflow: hidden;
}
.sidebar-content{
    padding: 10px;
}
.dashboard-heading{
    color: #fff;
    padding-left: 15px;
}
.hr{
    margin: 15px 0 30px 0;
    border: 1px solid #adb5bd ;
}
.sidebar-subheading{
    color: #fff;
    font-size:15px ;
    font-weight: bold;
    margin: 5px 0 5px 0 ;
}

.sidebar-links{
    color:#adb5bd ;
    padding-left: 15px;
}
.sidebar-links a:hover{
    color: aliceblue;
}
.sidebar-links a,.sidebar-links i{
    text-decoration: none;
    color:#adb5bd ;
    margin: 15px 0 15px 0;

}

.main-body{
    float: right;
    width: 80%;
    height: 100vh;
    background:rgb(241, 237, 234) ;
}
.main-body h1{
    font-family: 'Baloo Thambi 2';
    margin: 10px 0 0 20px;
}
.main-body div{
    text-align: center;
    font-family:'Baloo Thambi 2';
    position: relative;
    top: 100px;
}
.main-body div p{
    font-size: 25px;
}
.main-body div input{
    width: 25%;
    height: 45px;
    border: 1px solid #adb5bd;
}
.main-body div button{
    height: 45px;
    padding:5px;
    width: 75px;
    color: #fff;
    background:rgb(103, 103, 243) ;
    border: none;
    margin-left: -5px;
    cursor: pointer;
}
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (min-width:320px) and (max-width:1060px){
    .badge{
       
        top: -27px;
        right: -9px;
       
    }
}

@media all and (min-width: 520px) and (max-width: 740px){
    #search input{
        width: 150px;
        margin-left: 10px;
    }
    .navbar-right{
        width: 30%;
    }
}